//COLOR
$primary-color: #FF4865;
$black-color: #1C1D1F;
$black-color-light: #D1D7DC;
$black-color-hover: #535458;
$text-light-color: #8C9093;
$bg-element-primary: #F7F9FA;
$blue: #5624D0;
$purple: #8711D8;
$purple-light: #CEC0FC;
$hover-color: rgba(0,0,0, 0.04);
$text-hover-color: #A435F0;
$toast-success: #47D764;
$toast-error: #FA461C;
$admin-primary-color: #1a53e4;

//TEXT
$text-xl: 4rem;
$text-lg: 3.2rem;
$text-md: 2.4rem;
$text-normal: 1.9rem;
$text-base: 1.6rem;
$text-sm: 1.4rem;
$text-sm-2: 1.2rem;

//FONT WEIGHT
$fw-bold: 700;
$fw-normal: 400;